# Pintos 빌드 중간 파일 및 산출물
*.o
*.d
*.out
*.bin
*.elf
*.img
*.map
*.lst
*.log
*.qemu
*.raw
*.hex
*.dis
*.dump

# 빌드 디렉터리
/build/
/bin/
/obj/
/output/

# core dump
core

# 임시 파일
*~
*.swp

# macOS
.DS_Store
pintos-kaist/threads/build/os.dsk
pintos-kaist/threads/build/results
pintos-kaist/threads/build/tests/threads/alarm-multiple.output
pintos-kaist/threads/build/tests/threads/alarm-negative.output
pintos-kaist/threads/build/tests/threads/alarm-priority.output
pintos-kaist/threads/build/tests/threads/alarm-priority.result
pintos-kaist/threads/build/tests/threads/alarm-simultaneous.output
pintos-kaist/threads/build/tests/threads/alarm-single.output
pintos-kaist/threads/build/tests/threads/alarm-zero.output
pintos-kaist/threads/build/tests/threads/priority-change.output
pintos-kaist/threads/build/tests/threads/priority-condvar.errors
pintos-kaist/threads/build/tests/threads/priority-condvar.output
pintos-kaist/threads/build/tests/threads/priority-condvar.result
pintos-kaist/threads/build/tests/threads/priority-donate-chain.errors
pintos-kaist/threads/build/tests/threads/priority-donate-chain.output
pintos-kaist/threads/build/tests/threads/priority-donate-chain.result
pintos-kaist/threads/build/tests/threads/priority-donate-lower.errors
pintos-kaist/threads/build/tests/threads/priority-donate-lower.output
pintos-kaist/threads/build/tests/threads/priority-donate-lower.result
pintos-kaist/threads/build/tests/threads/priority-donate-multiple.output
pintos-kaist/threads/build/tests/threads/priority-donate-multiple2.errors
pintos-kaist/threads/build/tests/threads/priority-donate-multiple2.output
pintos-kaist/threads/build/tests/threads/priority-donate-multiple2.result
pintos-kaist/threads/build/tests/threads/priority-donate-nest.errors
pintos-kaist/threads/build/tests/threads/priority-donate-nest.output
pintos-kaist/threads/build/tests/threads/priority-donate-nest.result
pintos-kaist/threads/build/tests/threads/priority-donate-one.output
pintos-kaist/threads/build/tests/threads/priority-donate-sema.errors
pintos-kaist/threads/build/tests/threads/priority-donate-sema.output
pintos-kaist/threads/build/tests/threads/priority-donate-sema.result
pintos-kaist/threads/build/tests/threads/priority-fifo.errors
pintos-kaist/threads/build/tests/threads/priority-fifo.output
pintos-kaist/threads/build/tests/threads/priority-fifo.result
pintos-kaist/threads/build/tests/threads/priority-preempt.errors
pintos-kaist/threads/build/tests/threads/priority-preempt.output
pintos-kaist/threads/build/tests/threads/priority-preempt.result
pintos-kaist/threads/build/tests/threads/priority-sema.errors
pintos-kaist/threads/build/tests/threads/priority-sema.output
pintos-kaist/threads/build/tests/threads/priority-sema.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-block.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-block.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-block.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-2.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-2.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-2.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-20.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-20.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-fair-20.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-1.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-1.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-1.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-60.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-60.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-60.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-avg.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-avg.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-load-avg.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-2.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-2.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-2.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-10.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-10.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-nice-10.result
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-recent-1.errors
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-recent-1.output
pintos-kaist/threads/build/tests/threads/mlfqs/mlfqs-recent-1.result
pintos-kaist/userprog/build/libc.a
pintos-kaist/userprog/build/os.dsk
pintos-kaist/userprog/build/tests/filesys/base/child-syn-read
pintos-kaist/userprog/build/tests/filesys/base/child-syn-wrt
pintos-kaist/userprog/build/tests/filesys/base/lg-create
pintos-kaist/userprog/build/tests/filesys/base/lg-full
pintos-kaist/userprog/build/tests/filesys/base/lg-random
pintos-kaist/userprog/build/tests/filesys/base/lg-seq-block
pintos-kaist/userprog/build/tests/filesys/base/lg-seq-random
pintos-kaist/userprog/build/tests/filesys/base/sm-create
pintos-kaist/userprog/build/tests/filesys/base/sm-full
pintos-kaist/userprog/build/tests/filesys/base/sm-random
pintos-kaist/userprog/build/tests/filesys/base/sm-seq-block
pintos-kaist/userprog/build/tests/filesys/base/sm-seq-random
pintos-kaist/userprog/build/tests/filesys/base/syn-read
pintos-kaist/userprog/build/tests/filesys/base/syn-remove
pintos-kaist/userprog/build/tests/filesys/base/syn-write
pintos-kaist/userprog/build/tests/userprog/args-dbl-space
pintos-kaist/userprog/build/tests/userprog/args-dbl-space.errors
pintos-kaist/userprog/build/tests/userprog/args-dbl-space.output
pintos-kaist/userprog/build/tests/userprog/args-dbl-space.result
pintos-kaist/userprog/build/tests/userprog/args-many
pintos-kaist/userprog/build/tests/userprog/args-many.errors
pintos-kaist/userprog/build/tests/userprog/args-many.output
pintos-kaist/userprog/build/tests/userprog/args-many.result
pintos-kaist/userprog/build/tests/userprog/args-multiple
pintos-kaist/userprog/build/tests/userprog/args-multiple.errors
pintos-kaist/userprog/build/tests/userprog/args-multiple.output
pintos-kaist/userprog/build/tests/userprog/args-multiple.result
pintos-kaist/userprog/build/tests/userprog/args-none
pintos-kaist/userprog/build/tests/userprog/args-none.errors
pintos-kaist/userprog/build/tests/userprog/args-none.output
pintos-kaist/userprog/build/tests/userprog/args-none.result
pintos-kaist/userprog/build/tests/userprog/args-single
pintos-kaist/userprog/build/tests/userprog/args-single.errors
pintos-kaist/userprog/build/tests/userprog/args-single.output
pintos-kaist/userprog/build/tests/userprog/args-single.result
pintos-kaist/userprog/build/tests/userprog/bad-jump
pintos-kaist/userprog/build/tests/userprog/bad-jump2
pintos-kaist/userprog/build/tests/userprog/bad-read
pintos-kaist/userprog/build/tests/userprog/bad-read2
pintos-kaist/userprog/build/tests/userprog/bad-write
pintos-kaist/userprog/build/tests/userprog/bad-write2
pintos-kaist/userprog/build/tests/userprog/child-args
pintos-kaist/userprog/build/tests/userprog/child-bad
pintos-kaist/userprog/build/tests/userprog/child-close
pintos-kaist/userprog/build/tests/userprog/child-read
pintos-kaist/userprog/build/tests/userprog/child-rox
pintos-kaist/userprog/build/tests/userprog/child-simple
pintos-kaist/userprog/build/tests/userprog/close-bad-fd
pintos-kaist/userprog/build/tests/userprog/close-bad-fd.errors
pintos-kaist/userprog/build/tests/userprog/close-bad-fd.output
pintos-kaist/userprog/build/tests/userprog/close-bad-fd.result
pintos-kaist/userprog/build/tests/userprog/close-normal
pintos-kaist/userprog/build/tests/userprog/close-normal.errors
pintos-kaist/userprog/build/tests/userprog/close-normal.output
pintos-kaist/userprog/build/tests/userprog/close-normal.result
pintos-kaist/userprog/build/tests/userprog/close-twice
pintos-kaist/userprog/build/tests/userprog/close-twice.errors
pintos-kaist/userprog/build/tests/userprog/close-twice.output
pintos-kaist/userprog/build/tests/userprog/close-twice.result
pintos-kaist/userprog/build/tests/userprog/create-bad-ptr
pintos-kaist/userprog/build/tests/userprog/create-bad-ptr.errors
pintos-kaist/userprog/build/tests/userprog/create-bad-ptr.output
pintos-kaist/userprog/build/tests/userprog/create-bad-ptr.result
pintos-kaist/userprog/build/tests/userprog/create-bound
pintos-kaist/userprog/build/tests/userprog/create-bound.errors
pintos-kaist/userprog/build/tests/userprog/create-bound.output
pintos-kaist/userprog/build/tests/userprog/create-bound.result
pintos-kaist/userprog/build/tests/userprog/create-empty
pintos-kaist/userprog/build/tests/userprog/create-empty.errors
pintos-kaist/userprog/build/tests/userprog/create-empty.output
pintos-kaist/userprog/build/tests/userprog/create-empty.result
pintos-kaist/userprog/build/tests/userprog/create-exists
pintos-kaist/userprog/build/tests/userprog/create-exists.errors
pintos-kaist/userprog/build/tests/userprog/create-exists.output
pintos-kaist/userprog/build/tests/userprog/create-exists.result
pintos-kaist/userprog/build/tests/userprog/create-long
pintos-kaist/userprog/build/tests/userprog/create-long.errors
pintos-kaist/userprog/build/tests/userprog/create-long.output
pintos-kaist/userprog/build/tests/userprog/create-long.result
pintos-kaist/userprog/build/tests/userprog/create-normal
pintos-kaist/userprog/build/tests/userprog/create-normal.errors
pintos-kaist/userprog/build/tests/userprog/create-normal.output
pintos-kaist/userprog/build/tests/userprog/create-normal.result
pintos-kaist/userprog/build/tests/userprog/create-null
pintos-kaist/userprog/build/tests/userprog/create-null.errors
pintos-kaist/userprog/build/tests/userprog/create-null.output
pintos-kaist/userprog/build/tests/userprog/create-null.result
pintos-kaist/userprog/build/tests/userprog/exec-arg
pintos-kaist/userprog/build/tests/userprog/exec-bad-ptr
pintos-kaist/userprog/build/tests/userprog/exec-boundary
pintos-kaist/userprog/build/tests/userprog/exec-missing
pintos-kaist/userprog/build/tests/userprog/exec-once
pintos-kaist/userprog/build/tests/userprog/exec-read
pintos-kaist/userprog/build/tests/userprog/exit
pintos-kaist/userprog/build/tests/userprog/exit.errors
pintos-kaist/userprog/build/tests/userprog/exit.output
pintos-kaist/userprog/build/tests/userprog/exit.result
pintos-kaist/userprog/build/tests/userprog/fork-boundary
pintos-kaist/userprog/build/tests/userprog/fork-close
pintos-kaist/userprog/build/tests/userprog/fork-multiple
pintos-kaist/userprog/build/tests/userprog/fork-once
pintos-kaist/userprog/build/tests/userprog/fork-read
pintos-kaist/userprog/build/tests/userprog/fork-recursive
pintos-kaist/userprog/build/tests/userprog/halt
pintos-kaist/userprog/build/tests/userprog/halt.errors
pintos-kaist/userprog/build/tests/userprog/halt.output
pintos-kaist/userprog/build/tests/userprog/halt.result
pintos-kaist/userprog/build/tests/userprog/multi-child-fd
pintos-kaist/userprog/build/tests/userprog/multi-recurse
pintos-kaist/userprog/build/tests/userprog/open-bad-ptr
pintos-kaist/userprog/build/tests/userprog/open-bad-ptr.errors
pintos-kaist/userprog/build/tests/userprog/open-bad-ptr.output
pintos-kaist/userprog/build/tests/userprog/open-bad-ptr.result
pintos-kaist/userprog/build/tests/userprog/open-boundary
pintos-kaist/userprog/build/tests/userprog/open-boundary.errors
pintos-kaist/userprog/build/tests/userprog/open-boundary.output
pintos-kaist/userprog/build/tests/userprog/open-boundary.result
pintos-kaist/userprog/build/tests/userprog/open-empty
pintos-kaist/userprog/build/tests/userprog/open-empty.errors
pintos-kaist/userprog/build/tests/userprog/open-empty.output
pintos-kaist/userprog/build/tests/userprog/open-empty.result
pintos-kaist/userprog/build/tests/userprog/open-missing
pintos-kaist/userprog/build/tests/userprog/open-missing.errors
pintos-kaist/userprog/build/tests/userprog/open-missing.output
pintos-kaist/userprog/build/tests/userprog/open-missing.result
pintos-kaist/userprog/build/tests/userprog/open-normal
pintos-kaist/userprog/build/tests/userprog/open-normal.errors
pintos-kaist/userprog/build/tests/userprog/open-normal.output
pintos-kaist/userprog/build/tests/userprog/open-normal.result
pintos-kaist/userprog/build/tests/userprog/open-null
pintos-kaist/userprog/build/tests/userprog/open-null.errors
pintos-kaist/userprog/build/tests/userprog/open-null.output
pintos-kaist/userprog/build/tests/userprog/open-null.result
pintos-kaist/userprog/build/tests/userprog/open-twice
pintos-kaist/userprog/build/tests/userprog/open-twice.errors
pintos-kaist/userprog/build/tests/userprog/open-twice.output
pintos-kaist/userprog/build/tests/userprog/open-twice.result
pintos-kaist/userprog/build/tests/userprog/read-bad-fd
pintos-kaist/userprog/build/tests/userprog/read-bad-fd.errors
pintos-kaist/userprog/build/tests/userprog/read-bad-fd.output
pintos-kaist/userprog/build/tests/userprog/read-bad-fd.result
pintos-kaist/userprog/build/tests/userprog/read-bad-ptr
pintos-kaist/userprog/build/tests/userprog/read-bad-ptr.errors
pintos-kaist/userprog/build/tests/userprog/read-bad-ptr.output
pintos-kaist/userprog/build/tests/userprog/read-bad-ptr.result
pintos-kaist/userprog/build/tests/userprog/read-boundary
pintos-kaist/userprog/build/tests/userprog/read-boundary.errors
pintos-kaist/userprog/build/tests/userprog/read-boundary.output
pintos-kaist/userprog/build/tests/userprog/read-boundary.result
pintos-kaist/userprog/build/tests/userprog/read-normal
pintos-kaist/userprog/build/tests/userprog/read-normal.errors
pintos-kaist/userprog/build/tests/userprog/read-normal.output
pintos-kaist/userprog/build/tests/userprog/read-normal.result
pintos-kaist/userprog/build/tests/userprog/read-stdout
pintos-kaist/userprog/build/tests/userprog/read-stdout.errors
pintos-kaist/userprog/build/tests/userprog/read-stdout.output
pintos-kaist/userprog/build/tests/userprog/read-stdout.result
pintos-kaist/userprog/build/tests/userprog/read-zero
pintos-kaist/userprog/build/tests/userprog/read-zero.errors
pintos-kaist/userprog/build/tests/userprog/read-zero.output
pintos-kaist/userprog/build/tests/userprog/read-zero.result
pintos-kaist/userprog/build/tests/userprog/rox-child
pintos-kaist/userprog/build/tests/userprog/rox-multichild
pintos-kaist/userprog/build/tests/userprog/rox-simple
pintos-kaist/userprog/build/tests/userprog/wait-bad-pid
pintos-kaist/userprog/build/tests/userprog/wait-killed
pintos-kaist/userprog/build/tests/userprog/wait-simple
pintos-kaist/userprog/build/tests/userprog/wait-twice
pintos-kaist/userprog/build/tests/userprog/write-bad-fd
pintos-kaist/userprog/build/tests/userprog/write-bad-ptr
pintos-kaist/userprog/build/tests/userprog/write-bad-ptr.errors
pintos-kaist/userprog/build/tests/userprog/write-bad-ptr.output
pintos-kaist/userprog/build/tests/userprog/write-bad-ptr.result
pintos-kaist/userprog/build/tests/userprog/write-boundary
pintos-kaist/userprog/build/tests/userprog/write-boundary.errors
pintos-kaist/userprog/build/tests/userprog/write-boundary.output
pintos-kaist/userprog/build/tests/userprog/write-boundary.result
pintos-kaist/userprog/build/tests/userprog/write-normal
pintos-kaist/userprog/build/tests/userprog/write-normal.errors
pintos-kaist/userprog/build/tests/userprog/write-normal.output
pintos-kaist/userprog/build/tests/userprog/write-normal.result
pintos-kaist/userprog/build/tests/userprog/write-stdin
pintos-kaist/userprog/build/tests/userprog/write-zero
pintos-kaist/userprog/build/tests/userprog/write-zero.errors
pintos-kaist/userprog/build/tests/userprog/write-zero.output
pintos-kaist/userprog/build/tests/userprog/no-vm/multi-oom
pintos-kaist/userprog/build/threads/kernel.lds.s
